<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <link rel="stylesheet" href="./style.css">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">


  <title>Otakubeli</title>
</head>

<body>
  <div id="app">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">OTAKUbeli <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Kategori
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Super Deformed</a>
              <a class="dropdown-item" href="#">High Grade</a>
              <a class="dropdown-item" href="#">No Grade</a>
              <a class="dropdown-item" href="#">Real Grade</a>
              <a class="dropdown-item" href="#">Master Grade</a>
              <a class="dropdown-item" href="#">Perfect Grede</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">>
              Notifications <span class="badge badge-light">{{ user.count }}</span>
            </button>
          </li>
        </ul>
        <form class="form-inline my-5 my-lg-3">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search..." aria-label="Search... with two button addons"
              aria-describedby="button-addon4">
            <div class="input-group-append" id="button-addon4">
              <button class="btn btn-outline-success" type="button">Search</button>
            </div>
          </div>
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="margin-right:10px; margin-left:10px">Daftar</button>
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
        </form>
      </div>
    </nav>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 col-12" v-for="value in card">
          <div class="card" style="width : 18rem">
            <img class="card-img-top" v-bind:src="value.img" alt="card images caps">
            <div class="card-body">
              <h5>{{ value.title }}</h5>
              <p class="card-text">
                {{ value.description }}
              </p>
              <h6>{{ value.price }}</h6>
              <button class="btn btn-primary" v-on:click="cart(value)">BUY</button>
            </div>
          </div>
        </div>
      </div>
    </div>
 <!-- Modal -->
 <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">Cart</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <table>
            <thead style="text-align:center">
              <th>Nama</th>
              <th>Jumlah</th>
              <th>Harga</th>
              <th>Total Harga</th>
            </thead>
            <tbody v-for="value in user.cart">
              <tr>
                <td><input class="form-control" type="text" v-bind:value="value.title" readonly></td>
                <td><input class="form-control" type="text" v-bind:value="value.total" readonly style="text-align:center"></td>
                <td><input class="form-control" type="text" v-bind:value="value.price" readonly style="text-align:right"></td>
                <td><input class="form-control" type="text" v-bind:value="value.total * value.price" readonly style="text-align:right"></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  </div>

 

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="./script.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
</body>

</html>