* {
    margin: 0;
    padding: 0;
    outline: none;
}

::-webkit-scrollbar {
    display: none;
}

body {
    font-family: 'Roboto', sans-serif;
    max-width: 99%;
    background-image: url('funky-lines.png');
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

h1, h2, h3, h4, h5, h6, p, span {
    font-family: 'Roboto', sans-serif !important;
}

#loading-page {
    z-index: 20000;
    position: fixed;
    top: 0;
    left: 0;
}
  
.load-bg {
    width: 100vw;
    height: 100vh;
    background: #fa782e;
    background: -moz-linear-gradient(-45deg, #fa782e 8%, #c82930 83%);
    background: -webkit-linear-gradient(-45deg, #fa782e 8%, #c82930 83%);
    background: linear-gradient(135deg, #fa782e 8%, #c82930 83%);
}

.loader {
    width: 250px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-family: helvetica, arial, sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    color: white;
    letter-spacing: 0.2em;
}
.loader::before, .loader::after {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    background: white;
    position: absolute;
    -webkit-animation: load .7s infinite alternate ease-in-out;
    animation: load .7s infinite alternate ease-in-out;
}
.loader::before {
    top: 0;
}
.loader::after {
    bottom: 0;
}

@-webkit-keyframes load {
    0% {
        left: 0;
        height: 30px;
        width: 15px;
    }
    50% {
        height: 8px;
        width: 40px;
    }
    100% {
        left: 235px;
        height: 30px;
        width: 15px;
    }
}

@keyframes load {
    0% {
        left: 0;
        height: 30px;
        width: 15px;
    }
    50% {
        height: 8px;
        width: 40px;
    }
    100% {
        left: 235px;
        height: 30px;
        width: 15px;
    }
}

#products {
    margin-top: 30px;
}

.containerku {
    max-width: 280px !important;
    min-width: 280px !important;
    height: 500px !important;
    margin: 5px 50px 5px 0px;
}

.cardku {
    border-radius: 25px;
    box-shadow: -11px 11px 1px rgba(0, 0, 0, 0.3);
}

.card-head {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 252px;
    background: #fa782e;
    background: -moz-linear-gradient(-45deg, #fa782e 8%, #c82930 83%);
    background: -webkit-linear-gradient(-45deg, #fa782e 8%, #c82930 83%);
    background: linear-gradient(135deg, #fa782e 8%, #c82930 83%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#fa782e', endColorstr='#c82930', GradientType=1);
    border-radius: 25px 25px 0 0;
}

.product-img {
    position: absolute;
    left: 0;
    margin-top: 25px;
    margin-left: 40px;
    max-width: 200px; 
}

.product-detail {
    padding: 0 20px;
    font-size: 11px;
    color: #fff;
    display:flex;
    flex-direction:column;
    margin-top: 40px;
    flex-basis:100%;
}

.product-detail h2 {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 2px;
    padding-bottom: 10px;
    text-transform: uppercase;
}

.product-detail p {
    font-size: 14px;
    font-family: 'Roboto Mono', monospace !important;
}

.back-text {
    display: inline-block;
    height: 80px;
    font-size: 80px;
    font-weight: 900;
    margin-left: -5px;
    opacity: 0.1;
    margin-bottom: 7.5px;
    align-self:flex-end;
    text-transform: uppercase;
}

.card-bodyku {
    height: 180px;
    background: #fff;
    border-radius: 0 0 25px 25px;
}

.product-title {
    padding: 20px 20px 5px 20px;
    display: block;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.product-title b {
    font-weight: 900;
    letter-spacing: 2.5px;
}

.product-caption {
    display: block;
    padding: 0 20px;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.product-rating {
    padding: 0 20px;
    font-size: 11px;
}

.gold {
    color: gold;
}

.product-price {
    position: absolute;
    background: #11e95b;
    padding: 7px 20px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    font-weight: 200;
    color: #fff;
    border-radius: 7px;
    margin-top: -15px;
    margin-left: -5px;
    box-shadow: -10px 20px 15px -10px rgba(17, 233, 91, 0.3);
}

.atclogo {
    position: absolute;
    padding: 7px 20px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    font-weight: 200;
    color: #11e95b;
    border-radius: 7px;
    margin-top: -15px;
    margin-left: -5px;
    right: 40px;
}

.product-price b {
    margin-left: 5px;
}

/* MY OWN CSS */
#sidebar {
    position: fixed;
    overflow: hidden;
    color: white;
    background: #fa782e;
    background: -moz-linear-gradient(-45deg, #fa782e 8%, #c82930 83%);
    background: -webkit-linear-gradient(-45deg, #fa782e 8%, #c82930 83%);
    background: linear-gradient(135deg, #fa782e 8%, #c82930 83%);
    z-index: 100;
    height: 100vh;
    width: 73.5px;
    -webkit-transition: width 0.15s linear;
    transition: width 0.15s linear;
}

#sidebar:hover {
    width: 20vw;
    overflow: visible;
}

#sidebar ul {
    list-style: none;
    font-family: 'Roboto', sans-serif;
}
#sidebar ul li {
    padding: 10px 0px;
    cursor: pointer;
    line-height: 20px;
    font-size: 25px;
}

#sidebar ul li:hover {
    color: rgba(255,255,255,0.7)
}

.menutext {
    position: absolute;
    font-weight: bold;
    width: 14vw;
}

.fas, .fa, .fab {
    width: 25px;
    height: 25px;
}

#bottommenu {
    position: absolute;
    bottom: 2vh;
}

.itemcount {
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    color: white;
}
.itemcount:hover {
    cursor: default !important;
}
.fa-cart-plus:hover {
    cursor: pointer;
}
#backdrop {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10000
}
#redhalf {
    position: fixed;
    display: flex;
    width: 20vw;
    height: 25vh;
    background: #fa782e;
    background: -moz-linear-gradient(-45deg, #fa782e 8%, #c82930 83%);
    background: -webkit-linear-gradient(-45deg, #fa782e 8%, #c82930 83%);
    background: linear-gradient(135deg, #fa782e 8%, #c82930 83%);
    top: 25vh;
    left: 40vw;
    z-index: 11000;
    justify-content: center;
    border: transparent;
    border-radius: 2vw 2vw 0 0;
}
#redhalf #signinform, #redhalf #signupform {
    margin: auto;
    width: 80%;
}
#redhalf #signinform input, #redhalf #signupform input {
    width: 100%;
    margin: auto;
    border: transparent;
    border-radius: 1.5vh;
    display: block;
    padding: 2.5% 7.5%;
    font-family: 'Roboto', sans-serif;
    color: rgba(0, 0, 0, 0.5);
}
#redhalf #signupform #newname {
    color: #fa782e;
}
#whitehalf {
    position: fixed;
    display: flex;
    height: 10vh;
    width: 20vw;
    background: white;
    top: 49.9vh;
    left: 40vw;
    z-index: 11000;
    font-family: 'Roboto', sans-serif;
    border: transparent;
    border-radius: 0 0 2vw 2vw;
}
#whitehalf button {
    width: 100%;
    background: white;
    outline: none;
    cursor: pointer;
    border: none;
    color: rgba(0, 0, 0, 0.8);
}
#whitehalf button:hover {
    background: rgba(0, 0, 0, 0.1)
}
#signin-btn {
    border: transparent;
    border-radius: 0 0 0 2vw;
}
#signin-btn:hover {
    color: #fa782e;
}
#signup-btn {
    border: transparent;
    border-radius: 0 0 2vw 0;
}
#signup-btn:hover {
    color: #c82930;
}
#close-btn:hover {
    color: #de4d2f
}

#cartmodal {
    position: fixed;
    display: flex;
    flex-direction: column;
    max-height: 50vh;
    width: 30vw;
    overflow: auto;
    background: white;
    top: 25vh;
    left: 35vw;
    z-index: 11000;
    font-family: 'Roboto', sans-serif;
    border: transparent;
    border-radius: 2vw 2vw 2vw 2vw;
}

#cartmodal #cartcontent {
    padding: 2.5vh 2.5vw;
    width: 100%;
}

#cartmodal #cartcontent .row{
    margin: 0;
}
#cartmodal #cartcontent .row .col-xl-4{
    padding: 0;
}
.cartBtn {
    color: white;
    background: #fa782e;
    background: -moz-linear-gradient(-45deg, #fa782e 8%, #c82930 83%);
    background: -webkit-linear-gradient(-45deg, #fa782e 8%, #c82930 83%);
    background: linear-gradient(135deg, #fa782e 8%, #c82930 83%);
    width: 100%;
}

.search {
    background: transparent;
    color: white;
    border: none;
    text-transform: capitalize;
    font-size: 25px;
    height: 25px;
    padding: 10px 0px;
}

.rateBtn {
    color: white;
    background: #fa782e;
    background: -moz-linear-gradient(-45deg, #fa782e 8%, #c82930 83%);
    background: -webkit-linear-gradient(-45deg, #fa782e 8%, #c82930 83%);
    background: linear-gradient(135deg, #fa782e 8%, #c82930 83%);
}

#ap {
    margin-top: 50px;
}

.adminmenugroup {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.adminmenu {
    height: 100px !important;
    max-width: 400px !important;
    min-width: 400px !important;
    background: white;
    border: solid 5px;
    border-color: #fa782e;
    border-color: -moz-linear-gradient(-45deg, #fa782e 8%, #c82930 83%);
    border-color: -webkit-linear-gradient(-45deg, #fa782e 8%, #c82930 83%);
    border-color: linear-gradient(135deg, #fa782e 8%, #c82930 83%);
    border-radius: 50px;
    display: flex;
    cursor: pointer;
    margin: 25px 0px;
}

.adminmenu:hover {
    color: white;
    background: #fa782e;
    background: -moz-linear-gradient(-45deg, #fa782e 8%, #c82930 83%);
    background: -webkit-linear-gradient(-45deg, #fa782e 8%, #c82930 83%);
    background: linear-gradient(135deg, #fa782e 8%, #c82930 83%);
    border: none;
}

.adminmenu div {
    margin: auto;
    font-size: 25px;
}

.adminmenu div h4 {
    padding-top: 10px;
}

.adminpromote {
    height: 300px !important;
    display: flex;
}

.adminpromote div {
    margin: auto;
}

.adminpromote div input {
    font-size: 20px;
    padding: 10px 20px;
    width: 400px;
}

#promoteBtn {
    color: white;
    background: #fa782e;
    background: -moz-linear-gradient(-45deg, #fa782e 8%, #c82930 83%);
    background: -webkit-linear-gradient(-45deg, #fa782e 8%, #c82930 83%);
    background: linear-gradient(135deg, #fa782e 8%, #c82930 83%);
    height: 50px;
    width: 400px;
}

.categorymodal, .productmodal {
    position: fixed;
    display: flex;
    width: 30vw;
    background: white;
    left: 35vw;
    z-index: 11000;
    justify-content: center;
    border: transparent;
    border-radius: 2vw 2vw 2vw 2vw;
}

#addcategorymodal {
    min-height: 30vh;
    top: 35vh;
}

#addproductmodal {
    min-height: 45vh;
    top: 27.5vh;
}

#editcategorymodal {
    min-height: 35vh;
    top: 32.5vh;
}

#editproductmodal {
    min-height: 45vh;
    top: 22.5vh;
}

#deletecategorymodal {
    min-height: 15vh;
    top: 32.5vh;
}

#deleteproductmodal {
    min-height: 15vh;
    top: 32.5vh;
}

#deletecategoryconfirm {
    min-height: 25vh;
    top: 32.5vh;
}

#deleteproductconfirm {
    min-height: 25vh;
    top: 32.5vh;
}

#addCForm, #editCForm, #deleteCForm, #addPForm, #editPForm, #deletePForm {
    margin: auto;
    width: 80%;
}

#proImg {
    width: 50%;
}

#addCForm input[type='text'], #editCForm input[type='text'], #addPForm input[type='text'], #editPForm input[type='text'] {
    width: 100%;
    margin: auto;
    background: rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
    border: none;
    display: block;
    font-family: 'Roboto', sans-serif;
}

.adminModalBtn {
    color: white;
    background: #fa782e;
    background: -moz-linear-gradient(-45deg, #fa782e 8%, #c82930 83%);
    background: -webkit-linear-gradient(-45deg, #fa782e 8%, #c82930 83%);
    background: linear-gradient(135deg, #fa782e 8%, #c82930 83%);
}

#editCForm select, #deleteCForm select, #addPForm select, #editPForm select, #deletePForm select {
    width: 100%;
}

.discount {
    color: #0fb84a;
}

.phTotalSum {
    color: #de4d2f;
    font-size: 20px;
}

.gp-btn {
    color: white;
    background: #fa782e;
    background: -moz-linear-gradient(-45deg, #fa782e 8%, #c82930 83%);
    background: -webkit-linear-gradient(-45deg, #fa782e 8%, #c82930 83%);
    background: linear-gradient(135deg, #fa782e 8%, #c82930 83%);
    padding: 10px 20px;
}

.nores {
    color: #de4d2f;
}