* {
    box-sizing: border-box;
}


header {
    color: white;
}



.flex-container {
    display: flex;
    flex-direction: column;
}


.container {
    margin-bottom: 10%;
}

.background {
    display: flex;
    color: white;
    font-size: 50px;
    justify-content: center;
    align-items: center;
    background-image: url('https://images.unsplash.com/photo-1527016021513-b09758b777bd?ixlib=rb-0.3.5&s=d3f09d3fc773e1bf75c6fec1a2238b18&auto=format&fit=crop&w=1352&q=80');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
}

a:hover {
    cursor: pointer;
}

.item-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

#footer {
    background-color: rgb(117, 112, 112);
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;   
}

#footer .social-media {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20%;
}

.logo span {
    font-size: 70px;
    background-color: black;    
}

.sticky-top {
    z-index: 4;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.ui.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}







