.box-product {
    padding-right: 100px;
    padding-left: 100px;
    padding-top: 30px;
}
.jumbotron {
    image-resolution: 
}
/* .d-block{
    height: 500px;
    
} */
/* #carouselExampleIndicators{
    width: 800px;
} */

/* .cnt{
    padding-top: 56.25%;
} */